{% extends "base.html" %}

{% block tabs %}
    {{ super() }}
    <style>
        body {color:#000000; line-height:200%;}
        h1 {color:#0A2D72;font-size:50px;}
        p.ex {color:rgb(0,0,255);}
        .indent
        {
        	padding: 10px 100px 30px 100px;
        }
    </style>
{% endblock %}
<!-- Content -->
{% block content %}
<section style="background-color: #eeeeee">
    <div class="indent">
        <h1>隐私政策</h1>
    	<p>
    	    
    		泰凌微电子（上海）股份有限公司（以下简称“我们”）运营<strong><a href="https://debug.telink-semi.cn/ " target="_blank">https://debug.telink-semi.cn/ </a></strong>（以下简称“网站”）<br>
    		本页面告知您，我们从网站访问者那里收集，使用和披露个人信息的政策。<br>
    		我们仅将您的个人信息用于提供和改进本网站。 使用本网站，即表示您同意按照本政策收集和使用信息。<br>
    	</p>
    	
    	<h3>信息收集与使用</h3>
    	<p>
    		使用我们的网站时，我们可能会要求您向我们提供某些个人身份信息，这些信息可用于联系或识别您。 个人身份信息可能包括但不限于您的姓名，电话号码和电子邮件地址（以下简称“个人信息”）。
    	</p>
    
    	<h3>日志数据</h3>
    	<p>
    		像许多网站运营商一样，我们收集您的浏览器在访问我们网站时发送的信息（“日志数据”）。<br>
    		该日志数据可能包含诸如计算机的Internet协议（“ IP”）地址，浏览器类型，浏览器版本，您访问我们网站的页面，访问时间和日期，在这些页面上花费的时间等统计信息。<br>
    		此外，我们可能会使用第三方服务（例如Google Analytics）来收集，监测和分析网站上的用户数据，以便为我们的用户提供更好的体验。<br>
    	</p>
    	
    	<h3>通讯联络</h3>
    	<p>
    		我们可能会使用您的个人信息与您联系，向您发送新闻简报，市场营销资料，以及与我们网站用户相关的其他信息。 您可以随时选择退出这些通讯。
    	</p>
    	
    	<h3>Cookies</h3>
    	<p>
    		是具有少量数据的文件，其中可能包含匿名唯一标识符。 Cookies从网站发送到您的浏览器，并存储在计算机的硬盘中。 像许多网站一样，我们使用“ cookies”来收集信息。 您可以在浏览器中设置拒绝所有的cookie，或设置何时发送cookie。 但是，如果您不接受cookie，则可能无法使用我们网站的某些部分内容。<br>
    	</p>
    	
    	<h3>安全性</h3>
    	<p>
    		您个人信息的安全性对我们很重要，但是，互联网上传输的和本地存储的数据都不是100％安全的。 尽管我们努力使用商业上可接受的方法来保护您的个人信息，但我们不能保证其绝对安全。<br>
    	</p>
    	
    	<h3>本隐私政策的变更</h3>
    	<p>
    		本隐私政策自2024年06月13日起生效，除非将来对其条款进行任何更改，否则本隐私政策将一直有效，新的变更将在发布于此页面后立即生效。<br>
    		我们保留随时更新或更改此隐私政策的权利，您应当定期查阅此隐私政策。 我们在此页面上发布对隐私政策的任何修改后，如果您继续使用本服务，将构成您对所做修改的确认，并表示您同意遵守并受修改后的隐私政策的约束。<br>
    		如果我们对该隐私政策进行任何重大变更，我们将通过您提供给我们的电子邮件地址通知您，或在我们网站上的醒目位置发布通知。<br>
    	</p>
    	
    	<h3>联系我们</h3>
    	<p>
    		如果您对此隐私政策有任何疑问，请与我们联系。<br>
    	</p>
    </div>
</section>
{% endblock %}
</html>